<mat-card class="full-width">
    <mat-card-title>Edit Form</mat-card-title>
    <form #skillForm="ngForm">
        <mat-form-field class="input-full-width">
            <input matInput placeholder="Skill Name" 
                            [(ngModel)]="model.nameInput"
                            name="name"
                            #name="ngModel">
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <input matInput placeholder="Image URL" 
                            [(ngModel)]="model.imageInput"
                            name="image"
                            #name="ngModel">
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <input matInput placeholder="Rating" 
                            [(ngModel)]="model.ratingInput"
                            name="rating"
                            #name="ngModel">
        </mat-form-field>
        <button mat-raised-button color="primary" routerLink="/dashboard">Update</button>      
    </form>
</mat-card>